<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to BallerNYC!</h1>
    <p>Thanks for signing up, <%= @user.name %>! Here are some links to help you get started:</p>
    <br>
    <p>Search for courts and get games going <a href="http://ballernycco.com/courts">here.</a></p>
    <p>View your profile and make changes <a href="http://ballernycco.com/users/<%= @user.id %>">here.</a></p>

    <p>Happy Ballin',</p>
    <p>BallerNYC</p>
  </body>
</html>
