<div class="comment_form">
  <%= form_for([@court, @comment]) do |f| %>
   <div class="error_list">
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <div class="comment_field">
      <%= f.text_area :body, maxlength: 200, cols: "82", rows: "5", required: true %>
    </div>
    <div class="actions">
      <%= f.submit 'Submit for approval' %>
    </div>
  <% end %>
</div>
