<div class="welcome">
  <div class="wrapper submit_wrapper">
    <h2>Thanks! Your comment has been submitted for approval.</h2>
    <p>BallerNYC is just gonna take a quick look. Your comment should be displayed shortly!</p>
    <br>
    <%= link_to 'back to court page', :back %>
  </div>
</div>
