<div class="welcome">
  <div class="wrapper">
    <h1>About</h1>

    <h2>What is BallerNYC?</h2>
    <p>BallerNYC is...</p>


    <h2>What's this skill level thing</h2>
    <p>Skill level is an optional feature when you create a game....</p>
  </div>
</div>
