<!-- Shorter sentences -->

<div class="welcome">
  <div class="wrapper about">
    <h1>About</h1>

    <h2>What is BallerNYC?</h2>
    <p>
      BallerNYC is a desitination website for all pickup basketballers in New York City and the surrounding area, to find courts and set up games with players of similar skill level before ever stepping foot outside. Don't bother with the frustration of traveling all over the city with the hope of finding a good run. Find courts near you, set up or join a game, and start playing.
    </p>
    <h2>So it's for scheduling games?</h2>
    <p>
      Yes! Sort of... Anyone who has tried to play basketball in Central Park on a Sunday afternoon in July can tell you it's impossible to guarantee there'll be a court available at any of the listed locations. Because of this, BallerNYC obviously cannot guarantee that a game at a court's location won't be disrupted by other players or other activities at that location.
    </p>
    <h2>So why use it?</h2>
    <p>
      BallerNYC tries to solve a different problem, a more common problem. NYC is filled with tons of ballers of all skill levels. But how difficult is it to get 9 other people together at the same time and location to get a 5 on 5 going? BallerNYC allows you to post a game (or join a game) at the location and time you desire.
    </p>
    <h2>I get it! But what's this skill level thing?</h2>
    <p>Skill level is an optional feature when you create a game.</p>
    <ul>
      <li>1 - I rarely play organized basketball</li>
      <li>2 - I play somewhat frequently, I can hold my own on the court</li>
      <li>3 - Baller, 'nuff said</li>
    </ul>
    <h2>DISCLAIMER</h2>
    <p>
      BallerNYC is a fully functioning web application. But it's currently very much in Beta. You can expect to see frequent changes to the sites functionality and design. It was originally created by Jesse Sessler as part of General Assembly's <%= link_to 'WDI Program', 'https://generalassemb.ly/education/web-development-immersive' %> and is currently being updated and improved. The source code and place to file any issues is <%= link_to 'here', 'https://github.com/jemise111/baller' %>. Additionally any inaccuracies in court data, issues, ideas for improvement, or any other comments can be sent to <%= link_to 'ballernycco@gmail.com', 'mailto:ballernycco@gmail.com' %>
    </p>
  </div>
</div>
