<div class="welcome">
  <h1><%= link_to 'Find A Court', courts_path %></h1>
  <h1><%= link_to 'What is BallerNYC?', about_path %></h1>
  <h1><%= link_to 'Login', login_path unless current_user %></h1>
</div>
