<h1>Edit players for game at <%= @game.court.name %></h1>
<p><%= "#{@game.time_info}" %></p>
<ul>
  <% @game.users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <%= link_to 'remove player', "/games/#{@game.id}/users/#{user.id}", {method: :post} %>
    </li>
  <% end %>
</ul>
