/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

a:link, a:visited {
  color: rgb(196, 100, 29);
  text-decoration: none;
}

a:hover, a:active {
  color: rgba(196, 100, 29, 0.5);
  /*text-decoration: underline;*/
}

.header {
  font-size: 20px;
  margin-top: -20px;
  min-width: 1060px;
  min-height: 170px;
}

.header nav {
  margin: -70px 20px 0 auto;
  text-align: right;
  max-width: 630px;
}

/*.divider {
  border-top: 10px solid black;
  width: 1300px;
}*/

.welcome {
  background: url('background.jpg') no-repeat;
  background-size: cover;
  min-height: 600px;
  padding: 50px 0 20px 0;
}

.welcome h1 {
  font-size: 48px;
  font-weight: bold;
  padding: 30px;
  text-align: center;
}

.user_form {
  background: white;
  border: 5px solid black;
  min-height: 300px;
  margin: 20px auto;
  padding: 10px 0;
}

.user_form h1 {
  border-bottom: 5px solid black;
  text-align: center;
  font-size: 36px;
  padding: 10px;
}

.login_form {
  width: 400px;
}

.new_form {
  width: 600px;
}

.field {
  margin: 15px 0 0 30px;
}

.field input {
  border-radius: 5px;
  height: 20px;
  width: 200px;
}

.actions {
  margin-left: 30px;
}

.error_text {
  color: red;
}

.admin_stat p {
  display: inline;
}

.horizontal_list {
  list-style: none;
}

.horizontal_list li {
  display: inline;
  padding: 0 10px;
}

.wrapper {
  background: white;
  padding: 20px;
  margin: 0 auto;
  min-height: 700px;
  width: auto;
}

.wrapper h2 {
  font-size: 36px;
  width: 400px;
}

.borough_select {
  float: left;
}

.boroughs {
  font-size: 24px;
  margin: 20px;
  width: 600px;
}

.borough_search {
  float: right;
}

.borough_wrapper form {
  margin: 20px 30px;
}

.zip_input {
  height: 20px;
  width: 150px;
}

.click_results {
  padding: 100px 0 0 80px;
}

.click_results p:nth-child(even) {
  padding: 5px 0 20px 10px;
}

.click_results span {
  color: blue;
}

.pagination {
  margin-top: 50px;
  text-align: center;
}

.search_results {
  float: left;
  padding: 20px 0 20px 50px;
  width: 400px;
}

.search_results p:nth-child(even) {
  padding: 5px 0 20px 10px;
}

.search_results span {
  color: blue;
}

.static_map {
  float: right;
}

.game_map {
  float: right;
}

.court_info {
  padding: 5px;
  text-align: right;
}

.court_info a, .court_info p {
  padding: 5px;
}

.court_comments {
  font-size: 14px;
}

.court_comments span {
  font-size: 20px;
  margin-bottom: 5px;
}

.comment {
  background: lightgrey;
  padding: 10px;
  margin-bottom: 5px;
}

.game {
  background: rgba(196, 100, 29, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 2px;
  width: 400px;
}

.game a {
  font-size: 14px;
}

.game li {
  padding: 2px 0 2px 250px;
}

.about p {
  padding: 20px 0 10px 50px;
}

.about h2 {
  padding: 20px;
  width: 600px;
}

.about li {
  padding: 0 0 5px 50px;
}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {

    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
      .header {
        min-width: 650px;
      }

      .header nav {
        text-align: center;
      }

      .header nav ul {
        margin: 40px auto 0 auto;
      }

      .header .logo {
        display: block;
        margin: 0 auto;
        width: 400px;
      }

      .welcome {
        min-width: 650px;
      }
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
